html,
body {
    background-image: url(1.png);
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

.espx-layout .mdl-layout__header .mdl-layout__drawer-button {
    color: rgba(0, 0, 0, 0.54);
}

.mdl-layout__drawer .avatar {
    margin-bottom: 16px;
}

.espx-drawer {
    border: none;
}

.txt {
    color: white !important
}

.demo-layout-tansparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
    color: white;
}

.wapp {
    margin-top: 25%;
    text-align: center;
    line-height: 1 !important;

}

#videoBG {
    position: fixed;
    z-index: -1;
}


@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #videoBG {
        width: auto;
        height: 100%;
    }
}

@media (max-width: 767px) {
    #videoBG {
        display: none;
    }
}

body {
    // background: url('poster.jpg');
    // background-size: cover;
}


.wapp h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 96px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 102%;
    min-height: 102%;
    max-width: 102%;
    height: auto;
}

.mdl-mini-footer {
    background-color: RGBA(255, 255, 255, 0.01);
}

.espx-drawer .mdl-menu .mdl-menu__item {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.espx-drawer-header {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 16px;
    height: 151px;
}

/* iOS Safari specific workaround */
.espx-drawer .mdl-menu__container {
    z-index: -1;
}

.espx-drawer .espx-navigation {
    z-index: -2;
}

/* END iOS Safari specific workaround */

.espx-avatar {
    width: 48px;
    height: 48px;
    border-radius: 24px;
}

.espx-avatar-dropdown {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.espx {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.espx-layout .espx .mdl-navigation__link {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.56);
    font-weight: 500;
}

.espx-layout .espx .mdl-navigation__link:hover {
    background-color: #2296f3;
    color: #37474F;
}

.espx .mdl-navigation__link .material-icons {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.56);
    margin-right: 32px;
}
